@font-face
  font-family 'Morganite'
  font-weight 300
  src url('~assets/fonts/Morganite-Light.ttf')

@font-face
  font-family 'Morganite'
  font-weight normal
  src url('~assets/fonts/Morganite-Medium.ttf')

@font-face
  font-family 'Morganite'
  font-weight 700
  src url('~assets/fonts/Morganite-Bold.ttf')
