@font-face
  font-family 'Morganite'
  font-weight 300
  src url('~assets/fonts/Morganite-Light.ttf')

@font-face
  font-family 'Morganite'
  font-weight 300
  font-style italic
  src url('~assets/fonts/Morganite-LightItalic.ttf')

@font-face
  font-family 'Morganite'
  font-weight normal
  src url('~assets/fonts/Morganite-Medium.ttf')

@font-face
  font-family 'Morganite'
  font-weight normal
  font-style italic
  src url('~assets/fonts/Morganite-MediumItalic.ttf')

@font-face
  font-family 'Morganite'
  font-weight 700
  src url('~assets/fonts/Morganite-Bold.ttf')

@font-face
  font-family 'Morganite'
  font-weight 700
  font-style italic
  src url('~assets/fonts/Morganite-BoldItalic.ttf')
