@font-face
  font-family 'Morganite'
  font-weight normal
  src url('~assets/fonts/Morganite-Medium.ttf')

@font-face
  font-family 'Morganite'
  font-weight 700
  src url('~assets/fonts/Morganite-Bold.ttf')

@font-face
  font-family 'Euclid Triangle'
  font-weight normal
  src url('~assets/fonts/EuclidTriangle-Regular.woff')

@font-face
  font-family 'Euclid Triangle'
  font-weight 700
  src url('~assets/fonts/EuclidTriangle-Bold.woff')
