@keyframes intro-up
  from
    opacity 0
    transform translateY(12.5%)
  to
    opacity 1
    transform translateY(0)

@keyframes scale-horizontal
  from
    transform scaleX(0)
  to
    transform scaleX(1)

@keyframes scale-vertical
  from
    transform scaleY(0)
  to
    transform scaleY(1)
