// Colors
$black = #111111
$white = #eeeeee
$red = #ee1111

// Fonts
$morganite = 'Morganite', sans-serif
$euclidtriangle = 'Euclid Triangle', sans-serif

// Easings
$cubic = cubic-bezier(0.75, 0, 0.25, 1)

// Grid
$column = 80px
$gutter = 20px
$gridmedia12 = grid-media(12)
$gridmedia11 = grid-media(11)
$gridmedia10 = grid-media(10)
$gridmedia9 = grid-media(9)
$gridmedia8 = grid-media(8)
$gridmedia7 = grid-media(7)
$gridmedia6 = grid-media(6)
$gridmedia5 = grid-media(5)
$gridmedia4 = grid-media(4)
