// Colors
$black = #111111
$white = #eeeeee
$red = #ee1111

// Fonts
$morganite = 'Morganite', sans-serif
$arcamajora = 'Arca Majora 3', sans-serif

// Easings
$cubic = cubic-bezier(0.75, 0, 0.25, 1)
