html,
body
  full-size()

html
  font-size 62.5%
  background-color $black

body
  position relative
  color $white
  font-family $morganite
  overflow hidden

  > *
    full-size()

    > *
      full-size()

*::selection
  color $white
  background-color $red
