html
  full-size()
  font-size 62.5%
  transition background-color 1s $cubic 1s

  &[data-theme="black"]
    background-color $black

    *::selection
      color $black
      background-color $white

  &[data-theme="white"]
    background-color $white

    *::selection
      color $white
      background-color $black

body
  position relative
  font-family $morganite
  full-size()

  &.is-scrollable
    height auto
    overflow auto

  &.is-unscrollable
    height 100%
    overflow hidden

  > *
    full-size()

    > *
      full-size()
