html
  full-size()
  font-size 62.5%
  transition background-color 1s $cubic 2s

  &[data-theme="black"]
    background-color $black

  &[data-theme="white"]
    background-color $white

body
  position relative
  font-family $morganite
  full-size()

  &.is-scrollable
    height auto
    overflow auto

  &.is-unscrollable
    height 100%
    overflow hidden

  > *
    full-size()

    > *
      full-size()

*::selection
  color $white
  background-color $red
