.container
  display flex
  flex-direction column
  full-size()

  > *
    z-index 0

  &_section,
  &_page
    display flex
    flex-direction column
    justify-content center
    align-items center

  &_section
    flex 1

  &_page
    padding 50px 0
