.container
  display flex
  flex-direction column
  full-size()

  > *
    z-index 0

  &_section
    display flex
    flex-direction column
    justify-content center
    align-items center
    flex 1

    &--hero
      &:first-child
        flex .875
      &:last-child
        flex 1.125
